version: 2
jobs:        
  build:
    docker:
      - image: hashicorp/packer:1.1.1
    steps:
      - checkout # check out source code to working directory
      - run:
          name: Validate ami
          command: 
            packer validate  
                    -var 'aws_access_key=AKIAVEFNXYRYWWGWIQXI' 
                    -var 'aws_secret_key=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' 
                    -var 'aws_region=us-east-1' 
                    -var 'subnet_id=subnet-f113f0d0' 
                    -var 'ami_users=588539278316'
                    -var 'source_ami=ami-07ebfd5b3428b6f4d' 
                    ubuntu-ami.json
      - run:
          name: build ami
          command: 
            packer build  
                    -var 'aws_access_key=AKIAVEFNXYRYWWGWIQXI' 
                    -var 'aws_secret_key=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' 
                    -var 'aws_region=us-east-1' 
                    -var 'subnet_id=subnet-f113f0d0' 
                    -var 'ami_users= 588539278316'
                    -var 'source_ami=ami-07ebfd5b3428b6f4d' 
                    ubuntu-ami.json

workflows:
  version: 2
  build-workflow:
    jobs:
      - build
